<?xml version="1.0"?>
<robot name="tm700" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:property name="prefix" value="" />

  <!-- gazebo stuff -->
  <xacro:include filename="$(find tm_description)/urdf/common.gazebo.xacro" />
  <xacro:include filename="$(find tm_description)/urdf/tm.gazebo.xacro" />
  <xacro:tm_arm_gazebo prefix="${prefix}" />

  <!-- tm700 -->
  <xacro:include filename="$(find tm_description)/urdf/tm700.urdf.xacro" />
  <xacro:tm700_robot prefix="${prefix}" joint_limited="false" />

  <!-- ARMada workstation -->
  <xacro:include filename="$(find uml_hri_nerve_armada_workstation)/workstation_description/workstation_model.urdf.xacro" />
  <xacro:workstation prefix="table_" namespace=""/>

  <link name="world" />
  
  <joint name="connect_world_and_table" type="fixed">
    <child link="table_base_link" />
    <parent link="world" />
    <origin xyz="0.0 0.0 0.41" rpy="0.0 0.0 0.0" />    
  </joint>

  <joint name="connect_table_and_arm" type="fixed">
    <parent link="table_mounting_plate_link" />
    <child link = "base" />
    <origin xyz="0.0 0.0 0.03625" rpy="0.0 0.0 ${pi/2}" />  
  </joint>

  <!-- robotiq_2f_85 -->
  <xacro:include filename="$(find tm_description)/grippers/robotiq_2f_85/urdf/robotiq_2f_85_macro.xacro" />
  <xacro:include filename="$(find tm_description)/grippers/robotiq_2f_85/urdf/robotiq_2f_85_transmission_macro.xacro" />
  <xacro:load_gripper parent="tip_link"  prefix=""/>
  <xacro:load_gazebo_gripper_transmissions prefix=""/>

  <!-- eye in hand camera-->
  <xacro:include filename="$(find tm_description)/urdf/tm700.eih.xacro" />
  <xacro:tm700_eih_camera prefix="${prefix}" />

</robot>
